@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@{ 

	foreach (var item in HttpContext.User.Claims)
	{
		<p>@item.Type  :   @item.Value</p>
	}
}